@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto/Roboto-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Roboto-thin';
    src: url(fonts/Roboto/Roboto-Thin.ttf) format('truetype');
}

*{
    margin: 0;
    padding: 0;
}

html{
    background-color: #F5F5F5;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    align-items: center;
}

.green-text {
    color: green;
}

.initial-div{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5vh;
}

.initial-div input[type="text"] {
    border: none;
    border-style: none;
    border-bottom: 2px solid red;
    width: 100%;
    background-color: #F5F5F5;
}

.welcome{
    font-family: 'Roboto';
    font-size: 8vh;
}


.name{
    font-family: 'Roboto-thin';
    font-weight: bold;
    font-size: 2vh;
}

.initial-button{
    padding: 1vh 2vh 1vh 2vh;
}

.profile-pick{
    display: none;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    gap: 5vh;
}

.pick-text{
    font-family: 'Roboto';
    font-size: 5vh;
    text-align: center;
}

.pick-icon{
    height: min(40vw, 200px);;
}

.header{
    display: none;
    align-items: center;
    background-color: white;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
}

.profile-icon{
    height: 10vh;
}

.greetings{
    padding-left: 1vw;
    width: 30vw;
}

.details{
    display: flex;
    align-items: center;
    padding-left: 1vw;
}

.little-text{
    font-family: 'Roboto-thin';
    font-weight: bold;
    font-size: 1.9vh;
}


.buttons{
    display: flex;
    gap: 2vw;
    align-items: center;
}


.buttons button{
    background-color: #D4D0CF;
    width: 25vw;
    border-style: none;
    color: black;
    font-family: 'Roboto';
    border-radius: 5vh;
    padding: 1vh 2vh 1vh 2vh;
    font-size: 1.7vh;
}

.trainer-name{
    font-size: 2.5vh;
}

.hamburger{
    display: none;
}

.content{
    display: none;
    background-color: #F5F5F5;
    height: 100vh;
}

.title{
    display: grid;
    justify-items: center;
}

.title-icon{
    height: 15vh;
}

.div-title{
    text-align: center;
    font-size: 3vh;
}

.div-description{
    display: flex;
}
.number{
    padding-bottom: 4vh;
    font-weight: bold;
}

.badges-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #353030;
    border: .6vh solid red;
}

.badges{
    display: grid;
    align-items: center;
    justify-items: center;
}
.badge-button{
    border-style: none;
    background-color: transparent;
    border-radius: 100%;
    height: 20vh;
    width: 20vh;
}

.weakness-table-active{
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15vh;
    left: 0;
    right: 0;
    margin: auto;
    width: 80vw;
    height: 100vh;
    background-color: red;
    text-align: center;
}

.weakness-table-active p{
    font-family: 'Roboto';
    font-size: 5vh;
}

.pokedex-details{
    display: flex;
    align-items: flex-start;
    gap: 2vw;
    align-self: flex-start;
    margin: 2vh 0 4vh 2vh;
}

.red,
.yellow,
.green{
    height: 1.5vh;
    width: 1.5vh;
    border-radius: 100%;
    border-style: none;
}

.red{
    background-color: rgb(148, 41, 41);
}

.yellow{
    background-color: rgb(213, 224, 51)
}

.green{
    background-color: rgb(50, 148, 41)
}
.back-button{
    font-family: 'Roboto';
    height: 10vh;
    width: 10vh;
    color: white;
    border-style: none;
    border-radius: 100%;
    border: 1vh #DEDEDE solid;;
    padding: 1vh 2vh 1vh 2vh;
    background: #2080BE;
    background: -moz-linear-gradient(-45deg, #2080BE 0%, #144E75 100%);
    background: -webkit-linear-gradient(-45deg, #2080BE 0%, #144E75 100%);
    background: linear-gradient(135deg, #2080BE 0%, #144E75 100%);
}

.weakness-table-active img{
    height: 70vh;
    width: 55vw;
    border: 1vh #DEDEDE solid;
    border-top: 3vh #DEDEDE solid;
    border-bottom: 3vh #DEDEDE solid;
}

.badge-img{
    filter: grayscale(100%);
    opacity: .3;
    height: 20vh;
    width: 20vh;
}

.city-name{
    text-align: center;
    background-color: transparent;
    width: 10vw;
    margin-bottom: 2vh;
    color: red;
}

.weak{
    background-color: rgba(240, 88, 88, 0.6);
}

.strong{
    background-color: rgba(103, 194, 103, .6);
}

@media only screen and (max-width: 768px)  {
    .city-name{
        width: 30vw;
    }

    .buttons{
        flex-direction: column;
        background-color: #353030;
        position: absolute;
        top: 15vh;
        left: 0;
        width: 100vw;
        height: 0;
        overflow: hidden;
    }

    .buttons button{
        opacity: 0;
        width: 45%;
    }

    .buttons.active{
        height: auto;
        padding: .4vh 0 .4vh 0;
    }

    .buttons.active button{
        opacity: 1;
    }

    .hamburger{
        display: block;
        cursor: pointer;
        padding-right: 1vw;
    }
    
    .hamburger .line{
        width: 4vh;
        height: .4vh;
        background: #353030;
        margin: .8vh 0;
    }

    .weakness-table-active{
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 15vh;
        width: 100vw;
        height: 80vh;
        text-align: center;
    }
    
    .weakness-table-active img{
        height: 45vh;
        width: 95vw;
        border: 1vh #DEDEDE solid;
        border-top: 3vh #DEDEDE solid;
        border-bottom: 3vh #DEDEDE solid;
    }
}